*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    padding:30px 0px;
    margin: 20px;
    text-align: center;
    background: #ddd;
}
.rotatingDiv{
    display: inline-block;
    transition: transform 1s;
}
#menu{
    display: inline-block;
    background: red;
    padding: 2px 25px 2px 10px;
    width: 100px;
}
ul {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
ul li{
    display: none;
    padding: 2px 25px 2px 10px;
    position: absolute;
    width: 100px;
    top: 5px;
}
a{
    text-decoration: none;
    color: #000;
}
.bullet{
    display: none;
    width:10px;
    height:10px;
    border: 1px solid;
    border-radius: 100%;
    position: relative;
    left: -100px;
    top: -8px;
}
p{
    margin-top:30px;
    background: #ddd;
    padding: 20px;
}