*{
  margin:0;
  padding:0;
}
body{
  background: #eee;
}
/*****************************/
/* Navigation area */
header{
    width: 100%;
    height: 5vh;
    border:solid 1px #eee;
    background:#78c7ff;
    border-radius: 10px;
    display: flex;
    padding:20px;
}
#logo{
width: 60%;
}
#nav{
    margin-right: 0px;
    width: 40%;
}
#navItems{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    padding-right: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
}
header ul li a:hover{
  background: white;
}

/****************************/
/* main area */
.row{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: auto;
  grid-row-gap: 10px;
  padding: 15px;
}
.sm-4{
  grid-column: span 4;
}
.sm-6{
  grid-column: span 6;
}
.sm-8{
  grid-column: span 8;
}
.sm-12{
  grid-column: span 12;
}
.align-center{
  text-align: center;
}
.heading{
  grid-column: 6 / 9;
  padding-top: 15px;
}
.content{
  grid-column: 3 / 11;
}
.blueBackground{
  background: #78c7ff;
  border-radius: 20px;
}
#heroContent{
  grid-column: 4 / 10;
  padding-top: 10vh;
  grid-gap: 1em;
}
#heroImg{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#aboutImg{
  width: 200px;
  border-radius: 100%;
  transition-duration: 1s;
}
#aboutImg:hover{
  transform: scale(1.3);
}
.experienceSection{
  margin-left: 8%;
}
h3{
  padding:10px 0 0 0;
}
p{
  padding-left: 10px;
}
#contact {
  padding:15px;
}
.button{
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 15px;
}
.button a{
  padding:25px;
  text-decoration: none;
  color: #000;
}
footer{
    background: #78c7ff;
    border-radius: 20px;
    margin:10px 0;
    grid-auto-rows: 1vh;
}
