header h1{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.battleRoaster{
  grid-column: 1 / 2;
}
.squadRoaster{
  grid-column: 2 / 3;
}
.profile{
  grid-column: 3 / 5;
}
#image{
  grid-column: 3 / 5;
}
#list:hover , #squad:hover{
  cursor: pointer;
}
