*{
  box-sizing: border-box;
}
body{
  background: #ddd;
}
.pokemonContainer{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin: 5vh;
}
.pokemonCard{
  width: 25%;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  box-shadow: 5px 5px 5px #000;
}
.pokemonDetail{
  width: 40%;
  margin: 10vh auto;
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 10px 0;
}
