*{
  box-sizing: border-box;
}
body{
  background: #ddd;
  display: grid;
  grid-template-columns: 1fr 8fr;
}
h1{
  grid-column: 1 / 3;
  text-align: center;
}
.sidebar{
  grid-column: 1 / 2;

}
ul{
  list-style-type: none;
  background: #fff;
  border-radius: 5px;
  padding: 10px 0px;
  text-align: center;
}
ul li{
  margin: 10px 0;
  padding: 4px 0;
  border-radius: 5px;
}
ul li:hover{
  cursor: pointer;
  background: green;
  color: #fff;
}
.pokemonContainer{
  grid-column: 2 / 3;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin: 5vh;
}
.pokemonCard{
  width: 330px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  box-shadow: 5px 5px 5px #000;
}
.pokemonDetail{
  width: 40%;
  margin: 10vh auto;
  text-align: center;
  background: white;
  border-radius: 20px;
  padding: 10px 0;
}
.table{
  grid-column: 2 / 3;
}
tr{
  border: 1px solid;
  margin:2px 0;
}
tr:hover{
  cursor: pointer;
}
td{
  padding:2px 15px;
}
