<div class ='pokemonContainer'>
{% for item in pokemonData[0] %}
<div class='pokemonCard'>
     <h3>Pokemon Number: {{ item[0] }}</h3>
     <h3>Name: {{ item[1] }}</h3>
     <h4>Type: {{ item[2] }},{{ item[3] }}</h4>
</div>
{% endfor %}
</div>
