{% for item in pokemons[0] %}
"<div class='pokemonCard'>",
     "<h3>Pokemon Number: ",$data[0],"</h3>",
     "<h3>Name: ",$data[1],"</h3>",
     "<h4>Type: ",$data[2],",",$data[3],"</h4>",
     "</div>";
{% endfor %}
