<div class="table">
  <h2>Select to add to Favourite</h2>
  <form action="index.php" method="post">
  <table>
    {% for item in pokemonData[0] %}
  <label for="{{ item[0] }}">
    <tr>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[4] }}</td>
      <td>{{ item[5] }}</td>
      <td>{{ item[6] }}</td>
      <td>{{ item[7] }}</td>
      <td>{{ item[8] }}</td>
      <td>{{ item[9] }}</td>
      <td>{{ item[10] }}</td>
      <td><input type="submit" id="{{ item[0] }}" name="{{ item[0] }}" value="add Favourite"></td>
    </tr>
  </label>
    {% endfor %}
  </table>
</form>
</div>
