<div class="aboutus">
  <h1>About us.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur non assumenda ad fuga accusamus quasi, voluptatum nobis odit facilis minima dolor nemo nihil ex, beatae reprehenderit optio quod iure quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ab omnis, consequatur provident perferendis facere eaque perspiciatis, obcaecati expedita magnam dolore maxime! Odio exercitationem inventore distinctio tempore fuga nesciunt dignissimos.</p>
</div>
