<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <title>{{ title }}</title>
  <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
  <link rel="stylesheet/less" type="text/css" media="screen" href="formStyles.less" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>
<body>
  <header>
        <div class="brand"><h1>Cage Comics Store</h1></div>
        <nav>
          <ul>
            {% for item in navbar %}
            <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <div class="clear-both"></div>
  </header>
<main>
