<div class="hero">
  <div class="hero-content">
    <h1 class="hero-header">Welcome</h1>
    <h4 class="hero-p">to the world of best commic collection</h4>
    <button class="hero-button"><a href="about.php">LEARN MORE</a></button>
  </div>
</div>
