<form action="login.php" method="post">
  <label for="name">Username:</label>
  <input type="text" id="name" name="username">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  <button type="submit">Login</button>
</form>
