@theme-color:purple; // general color of site
@br:10px; //border-radius
@column-start:1;
@row-start:1;
@bar-row-start:3,5,2,8;

*,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title{
  font-size: 2.5em;
  text-align: center;
  background-color: @theme-color;
}
.menu{
    background-color:darken(@theme-color,15%);
    color: #fff;
    width: 65%;;
    border-radius: @br;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .colorShift(1);
    .colorShift(@i) when(@i<8){
      :nth-child(@{i}){
        background-color: lighten(@theme-color, percentage(mod(@i,3)*0.1));
      }
    .colorShift(@i+1);
  }
  .item{
    margin: 0 20px;
    &:hover{
      background:lighten(@theme-color, 60%);
      cursor: pointer;
    }
  }
}
.container{
    display: grid;
    grid-template-columns:20% 80%;
    grid-template-rows: 200px;

    .sidebar{
          grid-column: @column-start e("/") (@column-start + 1);
          background: @theme-color;
          grid-row: @row-start e("/") (@row-start+2);
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          padding: 20px;
          .item{
            // width: 40px;
            &:hover{
              cursor: pointer;
              font-weight: bold;
              .subItem{
                display: block;
              }
            }
            .subItem{
              display: none;
              margin-left: 15px;
              &:hover{
                color: red;
              }
            }
          }

    }
    .bargraph{
          grid-column: (@column-start + 1) e("/") (@column-start + 2);
          background: @theme-color;
          display: grid;
          grid-template-columns: repeat(24,auto);
          grid-template-rows: 25px;

          //********* Loop for bars *************//
          .bar(5);
          .bar(@n,@i:1) when(@i<@n){
            .bar@{i}{
              grid-column: (@column-start + @i*4) e("/") (@column-start+(@i*4)+1);
              grid-row: extract(@bar-row-start,@i) e("/") (@row-start+9);
              background: green;
            }
            .bar(@n,(@i+1));
          }
    }
    .flexbottom{
         grid-column: (@column-start + 1) e("/") (@column-start + 2);
         background: lighten(@theme-color,30%);
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: flex-start;
         & h2{
           width: 100%;
           margin: 15px 0;
         }
    }
    .mon{
          width: 17%;
          height: 100px;
          background: @theme-color;
          margin: 2px;
          border-radius: 10px;
          padding-left: 5px;
          &::first-line{
              font-weight: bold;
          }
    }
}

@media (max-width:814px) {
  .sidebar{
    display: none;
  }
  .menu{
    width: 100%;
    border-radius: 0px;
    margin: 0;
    display: block;
    .colorShift(1);
    .colorShift(@i) when(@i<8){
      :nth-child(@{i}){
        background-color: lighten(@theme-color, percentage(mod(@i,2)*0.1));
      }
    .colorShift(@i+1);
  }
    .item{
      display:block;
      width: auto;
      margin: 0;
    }
  }

  .container{
    display: block;
      .bargraph{
        height: 200px;
        grid-auto-rows: 20px;

        .bar(5);
        .bar(@n,@i:1) when(@i<@n){
          .bar@{i}{
            grid-column:  1 e("/") extract(@bar-row-start,@i);
            grid-row: (@column-start + @i*2) e("/")  (@column-start + (@i*2)+1);
            background: red;
          }
          .bar(@n,(@i+1));
        }
  }

  .flexbottom{
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
  }
  .mon{
    width: 100%;
    height: 100px;
    background: @theme-color;
    margin: 2px;
    border-radius: @br;
    padding-left: 5px;
    color: lighten(blue,30%);
  }
  .mon::first-line{
    color: blue;
  }
}
}
